@import "../../style/mixins";
@import "../../style/colors";
@import "../../style/index.module";

.outlet{
  position: relative;
  height: 100vh;

  & .content{
    min-height: calc(100% - 195px);
    position: relative;
    z-index: 10;
  }

  @media screen and (max-width: 1000px) and (min-width: 501px){
    & .content{
      min-height: calc(100% - 147px);
    }
  }

  @media screen and (max-width: 500px){
    & .content{
      min-height: calc(100% - 295px);
    }
  }
}