@import "../../style/mixins";
@import "../../style/colors";
@import "../../style/index.module";

.outlet{
  position: relative;
  height: 100vh;

  & .content{
    min-height: calc(100% - 165px);
    position: relative;
    z-index: 10;
  }
}