@import "../../../style/mixins";
@import "../../../style/colors";

.checkout {
  margin-top: 70px;

  & h3 {
    @include fonts(300, 20px, 23px, $accent);
  }

  & .content {
    margin-top: 10px;
    @include display-flex(center, flex-start);
    gap: 20px;
    padding-bottom: 100px;

    & .left_side {
      width: 820px;

      & h4 {
        margin-top: 20px;
        @include fonts(300, 16px, 19px, $accent);

      }

      & .personal_information, .delivery {
        position: relative;
        box-sizing: content-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 20px;

        & .error {
          font-family: "Gill Sans", sans-serif;
          position: absolute;
          top: -15px;
          right: 0;
          @include fonts(400, 10px, 10px, $error)
        }

        & .privat24{
          width: 19px;
          height: 19px;
          margin-bottom: -2px;
        }

        & .visa{
          width: 46.32px;
          height: 15px;
          //margin-left: 30px;
        }

        & .mastercard{
          width: 24.27px;
          height: 15px;
        }
      }

      & .delivery{
        gap: 0;
      }

      .error_border {
        border: 1px solid $error;
      }

      & .delivery_method {
        @include display-flex;
        gap: 20px;

        & .methods {
          width: 50%;
        }
      }
    }

    & .right_side {
      width: 300px;
      height: 600px;

      & a{
        margin-top: 20px;
        @include fonts(300, 16px, 19px, $main);
        display: block;
      }

      & div:nth-child(5){
        margin-top: 30px;
      }

      & .text_transform{
        text-transform: uppercase;
        color: $accent;
      }

      & .info_field{
        margin-top: 15px;
        @include display-flex(space-between);


        & span:first-child{
          text-transform: uppercase;
        }

        & span:last-child{
          @include fonts(700, 16px, 19px, $accent);
        }
      }
      & button[type=submit]{
        margin-top: 15px;
        width: 100%;
        height: 50px;
        @include display-flex;
        border: none;
        cursor: pointer;
        background: $main;
        @include fonts(300, 16px, 19px, #FFFFFF);
        text-transform: uppercase;

        &:hover {
          filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
        }
      }

      & p{
        margin-top: 15px;
        @include fonts(300, 14px, 16px, $accent);


      }

    }
  }
}