@import "../../../style/mixins";
@import "../../../style/colors";

.checkout {
  margin-top: 70px;

  & h3 {
    @include fonts(300, 20px, 23px, $accent);
  }

  & .content {
    margin-top: 10px;
    @include display-flex(center, flex-start);
    gap: 20px;
    padding-bottom: 100px;

    & .left_side {
      width: 820px;

      & h4 {
        margin-top: 20px;
        @include fonts(300, 16px, 19px, $accent);

      }

      & .personal_information, .delivery {
        position: relative;
        box-sizing: content-box;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0 20px;

        & .error {
          font-family: "Gill Sans", sans-serif;
          position: absolute;
          top: -15px;
          right: 0;
          @include fonts(400, 10px, 10px, $error)
        }

        & .privat24{
          width: 19px;
          height: 19px;
          margin-bottom: -2px;
        }

        & .visa{
          width: 46.32px;
          height: 15px;
          //margin-left: 30px;
        }

        & .mastercard{
          width: 24.27px;
          height: 15px;
        }
      }

      & .delivery{
        grid-gap: 0;
      }

      .error_border {
        border: 1px solid $error;
        border-radius: 6px;
      }

      & .delivery_method {
        @include display-flex;
        gap: 20px;

        & .methods {
          width: 50%;
        }
      }
    }

    & .right_side {
      width: 300px;
      height: 600px;

      & a{
        margin-top: 20px;
        @include fonts(300, 16px, 19px, $main);
        display: block;
      }

      & div:nth-child(5){
        margin-top: 30px;
      }

      & .text_transform{
        text-transform: uppercase;
        color: $accent;
      }

      & .info_field{
        margin-top: 15px;
        @include display-flex(space-between);


        & span:first-child{
          text-transform: uppercase;
        }

        & span:last-child{
          margin-left: 10px;
          @include fonts(700, 16px, 19px, $accent);
        }
      }
      & button[type=submit]{
        margin-top: 15px;
        width: 100%;
        height: 50px;
        @include display-flex;
        border: none;
        cursor: pointer;
        background: $main;
        @include fonts(300, 16px, 19px, #FFFFFF);
        text-transform: uppercase;

        &:hover {
          filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
        }
      }

      & p{
        margin-top: 15px;
        @include fonts(300, 14px, 16px, $accent);


      }

    }
  }

  @media screen and (max-width: 500px){
    margin-top: 50px;

    & h3 {
      @include fonts(300, 18px, 21px, $accent);
    }

    & .content {
      margin-top: 15px;
      @include display-flex(flex-start, center);
      flex-direction: column;
      gap: 5px;
      padding-bottom: 60px;

      & .left_side {
        width: 100%;

        & h4 {
          margin-top: 0;
          @include fonts(300, 14px, 16px, $accent);

        }

        & .personal_information{
          grid-template-columns: 1fr;
          grid-template-rows: repeat(1fr);
          grid-gap: 0;
          margin-bottom: 20px;
        }

        & .delivery{
          grid-template-columns: 1fr;
          grid-template-rows: repeat(auto 1fr 1fr);
          grid-gap: 0;
          margin-bottom: 20px;

          & .methods {
            margin-top: 15px;
          }

          & .error {
            top: -12px;
          }
        }

        & .delivery_method {
          flex-direction: column;
          gap: 0;
          margin-bottom: 15px;

          & .methods {
            width: 100%;
          }
        }
      }

      & .right_side {
        width: 100%;
        height: auto;

        & a{
          margin-top: 15px;
          @include fonts(300, 14px, 16px, $main);
        }

        & div:nth-child(5){
          margin-top: 20px;
        }

        & .info_field{

          & span:first-child{
            @include fonts(300, 14px, 16px, $accent);
          }

          & span:last-child{
            margin-left: 10px;
            @include fonts(700, 14px, 16px, $accent);
          }
        }
        & button[type=submit]{
          height: 40px;
          @include fonts(300, 14px, 16px, #FFFFFF);
        }

        & p{
          @include fonts(300, 12px, 14px, $accent);
        }
      }
    }
  }
}