@import "../../style/mixins";
@import "../../style/colors";

.order {
  padding: 95px 150px 100px;
  width: 1440px;
  margin: 0 auto;

  & .order_list {
    margin-top: 30px;

    & h3 {
      @include fonts(300, 20px, 23px, $accent);
    }

    & .list {
      margin-top: 30px;
      @include display-flex(flex-start);
      flex-direction: column;
      gap: 10px;

      & .list_item {
        width: 100%;
        height: 120px;
        padding-bottom: 10px;
        border-bottom: 0.3px solid $accent;
        @include display-flex(space-between);
        gap: 20px;


        & .title_block {
          @include display-flex(flex-start);
          flex: 0 1 calc(100% - 462px);
          gap: 10px;
          height: 100%;

          & .image {
            width: 95px;
            height: 100%;

            & img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          & .title {
            width: calc(100% - 95px);
            position: relative;
            height: 100%;
            @include fonts(300, 16px, 19px, $accent);
            @include display-flex(flex-start);

            & p{
              &:first-letter{
                text-transform: uppercase;
              }
            }



            & span {
              position: absolute;
              top: 0;
              left: 0;
              @include fonts(300, 14px, 16px, $main);
            }
          }
        }

        & .color_block {
          flex: 0 0 32px;
          @include display-flex;

          & .color_el {
            border-radius: 10.5px;
            position: relative;
            width: 24px;
            height: 24px;

            &:before {
              content: "";
              position: absolute;
              width: 30px;
              height: 30px;
              border-radius: 15px;
              border: 0.3px solid $accent;
              top: -5px;
              left: -5px;
            }
          }

          & .white {
            border: 0.3px solid #252525;
            background: #FFFFFF;
          }

          & .grey {
            background: #6F83A4;
            border: 0.3px solid #6F83A4;
          }

          & .beige {
            background: #F1DDAA;
            border: 0.3px solid #F1DDAA;

          }
        }

        & .size_block {
          flex: 0 0 100px;
          @include fonts(300, 16px, 19px, $accent);
        }

        & .quantity_block {
          flex: 0 0 100px;
          height: 50px;
          border: 0.5px solid #252525;
          @include display-flex;
          gap: 14px;

          & .sign {
            cursor: pointer;

            & svg{
              color: $main;
              width: 18px;
              height: 18px;
              margin-bottom: -3px;
            }

          }
        }

        & .price_block {
          flex: 0 0 150px;
          @include display-flex;
          gap: 30px;

          & .price {
            @include fonts(700, 16px, 19px, $accent);
          }

          & .delete {
            cursor: pointer;

            & svg {
              color: $main;
              width: 25px;
              height: 25px;
            }
          }


        }
      }
    }

    & .total{
      margin-top: 30px;
      text-align: right;
      @include fonts(300, 16px, 19px, $accent);
      font-feature-settings: 'pnum' on, 'lnum' on;

      & span{
        @include fonts(700, 16px, 19px, $accent);
      }

    }
  }

  @media screen and (max-width: 500px){
    padding: 74px 20px 50px;
    width: 100%;

    & .order_list {
      margin-top: 15px;

      & h3 {
        @include fonts(300, 18px, 21px, $accent);
      }

      & .list {
        margin-top: 15px;
        gap: 5px;

        & .list_item {
          height: 115px;
          padding-bottom: 5px;
          @include display-flex(space-between, flex-end);
          gap: 10px;


          & .title_block {
            @include display-flex(flex-start);
            position: relative;
            flex: 0 1 calc(100% - 257px);
            gap: 0;

            & .image {

              & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            & .title {
              position: absolute;
              width: calc(100vw - 220px);
              height: 50px;
              top: 10px;
              left: 105px;
              padding-top: 18px;
              @include fonts(300, 14px, 16px, $accent);
              //@include display-flex(flex-start);

              & p{
                &:first-letter{
                  text-transform: uppercase;
                }
              }



              & span {
                position: absolute;
                top: 0;
                left: 0;
                @include fonts(300, 12px, 14px, $main);
              }
            }
          }

          & .color_block {
            flex: 0 0 32px;
            @include display-flex;
            margin-bottom: 13px;

            & .white {
              border: 0.3px solid #252525;
              background: #FFFFFF;
            }

            & .grey {
              background: #6F83A4;
              border: 0.3px solid #6F83A4;
            }

            & .beige {
              background: #F1DDAA;
              border: 0.3px solid #F1DDAA;

            }
          }

          & .size_block {
            flex: 0 0 40px;
            @include fonts(300, 16px, 19px, $accent);
            margin-bottom: 15px;
          }

          & .quantity_block {
            flex: 0 0 70px;
            height: 40px;
            gap: 5px;
            @include fonts(700, 14px, 16px, $accent);
            margin-bottom: 5px;
          }

          & .price_block {
            height: 100%;
            padding: 7.5px 0;
            margin-left: -30px;
            flex: 0 0 75px;
            @include display-flex(space-between, flex-end);
            flex-direction: column;
            gap: 0;

            & .price {
              @include fonts(700, 16px, 19px, $accent);
            }
          }
        }
      }

      & .total{
        margin-top: 30px;
        text-align: right;
        @include fonts(300, 16px, 19px, $accent);
        font-feature-settings: 'pnum' on, 'lnum' on;

        & span{
          @include fonts(700, 16px, 19px, $accent);
        }

      }
    }
  }
}