@import "../../style/mixins";
@import "../../style/colors";

.history_purchase {
  margin-top: 20px;
  border-bottom: .3px solid $accent;


  & .purchase {
    position: relative;
    @include display-flex(space-between);
    padding-bottom: 15px;

    & .element_block {
      position: relative;
      padding-right: 56px;
      display: inline-flex;
      flex-direction: column;

      & span:last-child {
        @include fonts(700, 16px, 19px, $accent);
      }
    }

    & .down_svg {
      width: 18px;
      height: 18px;
      color: $main;
      position: absolute;
      transform: rotate(90deg);
      top: 16px;
      right: 0;
      transition: all .3s ease-out
    }

    & .active_down_svg {
      transform: rotate(270deg);
      transition: all .3s ease-out
    }


  }

  & .purchase_card {
    margin-top: 5px;

    & .product_position {
      width: 100%;
      height: 120px;
      padding-bottom: 20px;
      @include display-flex(space-between);
      gap: 20px;


      & .title_block {
        @include display-flex(flex-start);
        flex: 0 1 calc(100% - 502px);
        gap: 10px;
        height: 100%;

        & .image {
          width: 95px;
          height: 100%;

          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        & .title {
          width: calc(100% - 95px);
          position: relative;
          height: 100%;
          @include fonts(300, 16px, 19px, $accent);
          @include display-flex(flex-start);

          & p{
            &:first-letter{
              text-transform: uppercase;
            }
          }

          & span {
            position: absolute;
            top: 0;
            left: 0;
            @include fonts(300, 14px, 16px, $main);
          }
        }
      }

      & .color_block {
        flex: 0 0 32px;
        @include display-flex;

        & .color_el {
          border-radius: 10.5px;
          position: relative;
          width: 24px;
          height: 24px;

          &:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            border: 0.3px solid $accent;
            top: -5px;
            left: -5px;
          }
        }

        & .white {
          border: 0.3px solid #252525;
          background: #FFFFFF;
        }

        & .grey {
          background: #6F83A4;
          border: 0.3px solid #6F83A4;
        }

        & .beige {
          background: #F1DDAA;
          border: 0.3px solid #F1DDAA;

        }
      }

      & .size_block {
        flex: 0 0 100px;
        @include fonts(300, 16px, 19px, $accent);
      }

      & .quantity_block {
        flex: 0 0 140px;
        height: 50px;
        @include display-flex;
      }

      & .price_block {
        flex: 0 0 150px;
        @include display-flex;
        @include fonts(300, 16px, 19px, $accent);
        gap: 30px;

        & .price {
          @include fonts(700, 14px, 16px, $accent);
        }

        & .delete {
          cursor: pointer;

          & svg {
            color: $main;
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    & .info_block{
      @include display-flex(space-between);
      margin-bottom: 20px;

      & div{
        display: inline;

        & span:first-child{
          @include fonts(300, 16px, 19px, $accent);
        }
        & span:last-child{
          @include fonts(200, 16px, 19px, $accent);
        }
      }
    }
  }

  @media screen and (max-width: 1000px) and (min-width: 501px){

    & .purchase {
      flex-wrap: wrap;
      padding-right: 20px;

      & .element_block {
        padding-right: 10px;

        & span:last-child {
          @include fonts(700, 14px, 16px, $accent);
        }
      }
    }

    & .purchase_card {
      margin-top: 5px;

      & .product_position {
        padding-bottom: 10px;
        gap: 10px;


        & .title_block {
          flex: 0 1 calc(100% - 312px);
          gap: 0;

          & .title {
            @include fonts(300, 14px, 16px, $accent);

            & span {
              @include fonts(300, 12px, 14px, $main);
            }
          }
        }

        & .color_block {
          flex: 0 0 32px;
          @include display-flex;

          & .color_el {

            &:before {
              top: -3.7px;
              left: -3.7px;
            }
          }
        }

        & .size_block {
          flex: 0 0 70px;
          @include fonts(300, 14px, 16px, $accent);
          text-align: center;
        }

        & .quantity_block {
          flex: 0 0 70px;
          height: auto;
          @include display-flex;
        }

        & .price_block {
          flex: 0 0 100px;
          @include display-flex(space-between);
          gap: 0;

          & .price {
            @include fonts(700, 14px, 16px, $accent);
          }
        }
      }

      & .info_block{
        @include display-flex(flex-start);
        gap: 10px 15px;
        margin-bottom: 10px;
        flex-wrap: wrap;

        & div{
          display: inline;

          & span:first-child{
            @include fonts(300, 14px, 16px, $accent);
          }
          & span:last-child{
            @include fonts(200, 14px, 16px, $accent);
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px){
    margin-top: 15px;
    padding-bottom: 5px;

    & .purchase {
      @include display-flex(flex-start, flex-start);
      flex-direction: column;
      padding-bottom: 10px;
      gap: 10px;

      & .element_block {
        padding-right: 0;
        flex-direction: row;

        & span{
          @include fonts(300, 14px, 16px, $accent);
        }

        & span:last-child {
          @include fonts(700, 14px, 16px, $accent);
        }
      }
    }

    & .purchase_card {

      & .product_position {
        width: 100%;
        height: 115px;
        padding-bottom: 5px;
        @include display-flex(space-between, flex-end);
        gap: 5px;


        & .title_block {
          position: relative;
          flex: 0 1 calc(100% - 257px);
          gap: 0;

          & .image {

            & img {
              object-fit: cover;
            }
          }

          & .title {
            position: absolute;
            width: calc(100vw - 220px);
            height: 50px;
            top: 10px;
            left: 105px;
            padding-top: 18px;
            @include fonts(300, 14px, 16px, $accent);

            & p{
              &:first-letter{
                text-transform: uppercase;
              }
            }

            & span {
              @include fonts(300, 12px, 14px, $main);
            }
          }
        }

        & .color_block {
          margin-bottom: 15px;

          & .color_el {

            &:before {
              top: -3.7px;
              left: -3.7px;
            }
          }
        }

        & .size_block {
          flex: 0 0 40px;
          @include display-flex;
          @include fonts(300, 16px, 19px, $accent);
          margin-bottom: 5px;
          height: 40px;
          border: 0.5px solid $accent;
        }

        & .quantity_block {
          flex: 0 0 40px;
          height: 40px;
          border: 0.5px solid $accent;
          gap: 5px;
          @include fonts(700, 14px, 16px, $accent);
          margin-bottom: 5px;
        }

        & .price_block {
          height: 100%;
          padding: 7.5px 0;
          margin-left: -30px;
          flex: 0 0 75px;
          @include display-flex(space-between, flex-end);
          flex-direction: column;
          gap: 0;

          & .price {
            @include fonts(700, 14px, 16px, $accent);
          }
        }
      }

      & .info_block{
        @include display-flex(flex-start, flex-start);
        flex-direction: column;
        margin: 15px 0 0;
        gap: 15px;

        & div{
          & span:first-child{
            @include fonts(400, 14px, 16px, $accent);
          }
          & span:last-child{
            @include fonts(200, 14px, 16px, $accent);
          }
        }


      }
    }
  }
}