@import "../../style/mixins";
@import "../../style/colors";


.input_block{
  width: 100%;
  padding-top: 20px;
  position: relative;

  .center{
    text-align: center;
  }

  .search{
    border-radius: 20px;
  }

  & input {
    all: unset;
    @include fonts(200, 16px, 19px, rgba(37, 37, 37, 0.5));
    border: 0.5px solid $accent;
    background: transparent;
    cursor: pointer;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 39px 0 20px;

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px #2c326f inset;
      -webkit-text-fill-color: white !important;
    }

    &::placeholder {
      @include fonts(200, 16px, 19px, rgba(37, 37, 37, 0.5));
      text-align: center;
    }
  }

  .error_border{
    border: 1px solid $error;
  }

  & .error{
    font-family: "Gill Sans", sans-serif;
    position: absolute;
    top: 6px;
    right: 0;
    @include fonts(400, 10px, 10px,  $error)
  }

  & span{
    position: absolute;
    right: 20px;
    top: 36px;
    cursor: pointer;

    & svg{
      color: $main;
      width: 19px;
      height: 19px;
    }
  }

  @media screen and (max-width: 500px){
    padding-top: 15px;

    & input {
      @include fonts(200, 14px, 16px, rgba(37, 37, 37, 0.5));
      height: 40px;

      &::placeholder {
        @include fonts(200, 14px, 16px, rgba(37, 37, 37, 0.5));
      }
    }

    & .error{
      top: 4px;
    }
  }
}

.radio{
  margin-top: 20px;
  position: relative;


  & .input_radio{
    -webkit-appearance: none;
    appearance: none;

    &:checked + .radio_label:after{
      opacity: 1;
    }
  }

  & .radio_label{
    padding-left: 20px;
    @include fonts(300, 16px, 19px, $accent);
    cursor: pointer;

    &:before{
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border: .3px solid $accent;
      border-radius: 50%;
      box-sizing: border-box;
      position: absolute;
      top: 2.5px;
      left: 0;
    }

    &:after{
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $main;
      position: absolute;
      top: 8.5px;
      left: 6px;
      opacity: 0;
    }
  }

  @media screen and (max-width: 500px){
    margin-top: 15px;

    & .radio_label {
      @include fonts(300, 14px, 16px, $accent);

      &:before{
        top: 3px;
      }
      &:after{
        top: 9px;
      }
    }
  }
}