@import "../../style/mixins";
@import "../../style/colors";

.content{
  position: relative;

  & .new_block{
    width: 100vw;
    height: 100vh;
    @include display-flex;

    & .img_block{
      position: relative;
      flex: 33.3%;
      height: 100%;
      transform: matrix(-1, 0, 0, 1, 0, 0);


      & .gradient{
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(61, 61, 61, 0.5) 0%, rgba(61, 61, 61, 0) 100%);
        z-index: 2;
      }

      & img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
    }
  }

  & .category{
    padding: 100px 150px;

    & h2{
      @include fonts(300, 36px, 42px, $accent);
      margin-bottom: 50px;
    }

    & .slider{
      height: 450px;
      position: relative;
      overflow: hidden;

      & .control{
        position: absolute;
        width: 40px;
        height: 40px;
        background: $main;
        top: 205px;
        @include display-flex;

        & svg{
          color: #FFFFFF;
          width: 30px;
          height: 30px;
        }
      }

      & .left{
        left: 20px;
      }

      & .right{
        right: 20px;
      }

      & .shift_elements{
        position: absolute;
        top: 0;
        @include display-flex;
        gap: 15px;
        height: 100%;

        & .element{
          width: 275px;
          height: 100%;
          position: relative;

          & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          & .name{
            position: absolute;
            width: 100%;
            height: 40px;
            bottom: 0;
            background: $main;
            @include display-flex;
            @include fonts(300, 20px, 23px, #FFFFFF);
          }
        }
      }


    }
  }

  & .subscription{
    width: 600px;
    margin: 0 auto;


    & h2{
      @include fonts(300, 36px, 42px, $accent);
      text-align: center;
    }

    & form{
      padding: 50px 0 100px;
      position: relative;


      & .has_already{
        position: absolute;
        top: 56px;
        @include fonts(400, 10px, 10px,  $main)
      }
    }




    & button{
      margin-top: 20px;
      border: none;
      background: $main;
      width: 100%;
      height: 50px;
      @include fonts(300, 16px, 19px, #FFFFFF);
      text-transform: uppercase;
      @include display-flex;

      &:hover{
        filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
      }
    }

    & p{
      margin-top: 20px;
      text-align: center;
      @include fonts(200, 16px, 19px, $accent);
    }
  }
}