@import "../../style/mixins";
@import "../../style/colors";

.nav_block {

  & span {
    @include fonts(300, 16px, 19px, $accent);
    cursor: pointer;
    display: inline-block;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  & .nav_category {
    color: $main;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  & svg {
    width: 14px;
    height: 14px;
    color: $main;
    margin: 0 5px;
  }

}