@import "../../style/mixins";
@import "../../style/colors";

.content{
  padding: 95px 150px 100px;
  width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 500px){
    padding: 74px 20px 50px;
    width: 100%;
  }
}