@import "../../style/mixins";
@import "../../style/colors";

.personal {
  padding: 95px 150px 100px;
  width: 1440px;
  margin: 0 auto;


  & .personal_nav {
    margin-top: 30px;
    height: 50px;
    border-top: .3px solid $accent;
    border-bottom: .3px solid $accent;
    @include display-flex;

    & .personal_element {
      @include display-flex;
      padding: 0 50px;
      height: 100%;
      border: none;
      background: transparent;
      cursor: pointer;
      @include fonts(300, 16px, 19px, $accent);
      font-family: inherit;
    }

    & .active {
      color: #FFFFFF;
      background: $main;
    }

  }
  & .all_data {
    margin-bottom: 125px;

    & h4 {
      margin-top: 20px;
      @include fonts(300, 16px, 19px, $accent);
    }

    & .formPersonalInfo {
      @include display-flex;
      gap: 10px;
    }

    & button[type=submit] {
      margin-top: 15px;
      width: 100%;
      height: 50px;
      @include display-flex;
      border: none;
      cursor: pointer;
      background: $main;
      @include fonts(300, 16px, 19px, #FFFFFF);

      &:hover {
        filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
      }
    }
  }

  @media screen and (max-width: 500px){
    padding: 74px 20px 50px;
    width: 100%;

    & .personal_nav {
      margin-top: 15px;
      height: 40px;

      & .personal_element {
        padding: 0 20px;
        @include fonts(300, 14px, 16px, $accent);
      }

      & .active {
        color: #FFFFFF;
        background: $main;
      }

    }

    & .all_data {
      margin-bottom: 60px;

      & h4 {
        margin-top: 15px;
        @include fonts(300, 14px, 16px, $accent);
      }

      & .formPersonalInfo {
        flex-direction: column;
        gap: 0;
      }

      & button[type=submit] {
        height: 40px;
        @include fonts(300, 14px, 16px, #FFFFFF);
      }
    }
  }
}