@import "../../style/mixins";
@import "../../style/colors";

.content {
  padding: 95px 150px 100px;


  & h3 {
    margin-top: 30px;
    @include fonts(300, 20px, 23px, $accent);

    &::first-letter {
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 500px) {
    padding: 74px 20px 60px;
  }
}