//$carbon: #333333;
//$jazzy_jade: #51c9c2;
//$ambrosia_cake: #eee9cf;
//
//$fresh_guacamole: #fff4ea;
//
//$hot_pink: #fe3f8e;
//$background-color: #0a1157;
//$light-background: #2c326f;
//$midday_sun: #ffde59;
//
//$diamond_dust: #a3b1d0;

$main: #E0BEA2;
$accent: #252525;
$error: #FFA4A4;
$blue: #3e77aa;