@font-face {
  font-family: Explora;
  font-display: swap;
  src: url('../fonts/explora-regular-webfont.woff') format('woff'), url('../fonts/explora-regular-webfont.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

//@font-face {
//  font-family: Archivo;
//  font-display: swap;
//  src: url("fonts/Archivo-Black.woff2") format("woff2"), url("fonts/Archivo-Black.woff") format("woff");
//  font-weight: 900;
//  font-style: normal;
//}