//@import "mixins";
//@import "colors";
//@import "fonts";


body {
  font-family: 'Raleway', sans-serif;
  //font-family: Explora, cursive;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}