@import "../../style/mixins";
@import "../../style/colors";

.container{
  position: relative;
  @include display-flex(center, flex-start);
  gap: 45px;
  padding: 0 150px 45px;

  & .block{
    width: 25%;
    @include display-flex(center, flex-start);
    flex-direction: column;
    & .svg {}

    & .active_svg {}

    & h3{
      @include fonts(300, 20px, 23px, $accent);
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    & a{
      margin-top: 10px;
      @include fonts(200, 16px, 19px, $accent);
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }

      &::first-letter {
        text-transform: uppercase;
      }
    }

    & .social{
      //margin-top: 10px;
      height: 29px;

      & a {
        display: inline-block;
        margin-right: 14px;
        height: 19px;

        & img{
          cursor: pointer;

          &:hover{
            filter: drop-shadow(0px 5px 7px rgba(37, 37, 37, 0.15));
          }
        }
      }
    }

    & .info{
      margin-top: 10px;
      @include fonts(200, 16px, 19px, $accent);
    }
  }

  & .rights{
    position: absolute;
    bottom: 12px;
    right: 24px;
    @include fonts(200, 12px, 15px, $accent);
  }

  @media screen and (max-width: 500px){
    @include display-flex(flex-start, center);
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 47px 20px;

    & .block{
      width: 100%;
      @include display-flex(flex-start, center);
      border-bottom: 0.3px solid $accent;
      position: relative;
      padding-bottom: 5px;

      & .svg {
        width: 14px;
        height: 14px;
        color: $main;
        position: absolute;
        transform: rotate(90deg);
        top: 3px;
        right: 8px;
        transition: all .3s ease-out
      }

      & .active_svg {
        transform: rotate(180deg);
        transition: all .3s ease-out
      }

      & h3{
        @include fonts(300, 18px, 21px, $accent);
        margin-bottom: 0;
      }
      & a{
        @include fonts(200, 14px, 16px, $accent);
      }

      & .social{
        margin-top: 12px;
      }

      &:last-child{
        border: none;
      }
      & .info{
        margin-top: 5px;
        @include fonts(200, 14px, 16px, $accent);
      }
    }

    & .rights{
      position: absolute;
      bottom: 12px;
      right: 0;
      width: 100%;
      text-align: center;
      @include fonts(200, 10px, 12px, $accent);
    }
  }
}