@import "../../style/mixins";
@import "../../style/colors";

.content {
  padding: 95px 150px 100px;

  & h3 {
    margin-top: 30px;
    @include fonts(300, 20px, 23px, $accent);
    padding-bottom: 10px;
  }

  & p{
    margin-top: 10px;
    @include fonts(300, 16px, 20px, $accent);
  }

  & .case{
    margin-top: 20px;
    @include display-flex(center, flex-start);
    gap: 30px;

    & .case_item{
      flex: 2 2 165px;
      @include display-flex(flex-start, center);
      flex-direction: column;

      & p{
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 500px) {
    padding: 74px 20px 50px;

    & h3 {
      margin-top: 15px;
      @include fonts(300, 18px, 21px, $accent);
      padding-bottom: 5px;
    }

    & p{
      margin-top: 10px;
      @include fonts(300, 14px, 20px, $accent);
    }

    & .case{
      margin-top: 15px;
      @include display-flex(flex-start, center);
      flex-direction: column;
      gap: 15px;

      & .case_item{
        flex: 2 2 100%;
        @include display-flex(flex-start, center);
        flex-direction: column;

        & p{
          text-align: center;
        }
      }
    }
  }
}